* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;  
}

html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ecf0f9;
  background-attachment: fixed;
}
#page {
  background-color: #eee;
}
#content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;

}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: .1ch;
  line-height: 1;
  padding-bottom: .5em;
  margin-bottom: 1rem;
  position: relative;
}
.heading:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.activity_card {
  color: inherit;   /*back font color*/
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 300px;
  min-height: 300px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media (max-width: 800px) {
  .activity_card {
    width: calc(50% - 2rem);
  }
}
@media (max-width: 500px) {
  .activity_card {
    width: 100%;
  }
}

.activity_card_front p {
  font-size: 20px;
}

.activity_card_front,
.activity_card_back {
  display: flex;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;  
  -webkit-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;  
}

.activity_card_front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;    /*front font color*/
  overflow: hidden;
}

.activity_card:hover .activity_card_front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.activity_card_back {
  background: #fff;       /*back background color*/
  color: #000;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);  
  padding: 0 2em;
}
.activity_card:hover .activity_card_back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);  
}

.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .1em .5em;
  border-radius: 100px;
  font: inherit;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}

.button:hover {
  transform: translateZ(55px);
}

.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}
.open_time {
  display: inline-block;
  line-height: 3px;
  margin: 20px 0px 10px;
  font-size: small;
}
.day_name,.time_detail {
  float: left;  
  margin: 1.5px 0px;
  height: 15px;
  line-height: 3px;  
}
.day_name {
  position: relative;
  width: 27%;
  padding-right: 10px;
  text-align:justify;  
  text-justify:distribute-all-lines;/*ie6-8*/  
  -moz-text-align-last:justify;/*ff*/  
  -webkit-text-align-last:justify;/*chrome 20+*/ 
  text-align-last:justify;  /* ie9*/     
}
.time_detail {
  width: 60%;
  text-align: left;
}
i.fa{
  color: #000;
}
.go-top {
  position: fixed;
  bottom: 2em;
  right: 5em;
  text-decoration: none;
  font-size: 20px;
  display: none;
  background-color: #57576a;
  font-weight: bold;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
}
.go-top-content {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}