* {
  box-sizing: border-box;
}

#content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;

}
form {
  width: 10%;
  margin: auto;
}
.start_button {
  display: inline-block;  
  background-color: #00bcd494;
}

